.f_bitter {
    font-family: 'Bitter', serif;
}
body {
    font-family: 'Bitter', serif !important;
}
#index_img { 
    padding: 0% !important;
}
#index_p::first-letter {
    font-size: 3em;
    line-height: 1;
    padding-top: 1;
    padding-right: 0.2em;
    padding-left: 1;
    float: left;
}
.ed-title { 
    background: rgb(227,13,13);
    background: linear-gradient(90deg, rgba(227,13,13,1) 0%, rgba(255,255,255,1) 35%, rgba(26,54,240,1) 100%);
    padding: 0% !important;
}
